<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>悦听player</title>
</head>
<body>
    <div>
        <!--播放器主体区域-->
        <div id="player">
            <div>
                <img src="" alt>
                <!--搜索歌曲-->
                <input type="text" autocomplete="off" v-model="query" @keyup.enter="searchMusic"/>
            </div>
            <div>
                <!--搜索歌曲列表-->
                <div>
                    <ol>
                        <li v-for="item in musicList">
                            <a href="javascript:;" @click="playMusic(item.id)">
                            <b>{{item.name}}</b></a>
                            <span><i></i></span>
                        </li>
                    </ol>
                </div>
            </div>
            <div>
                <audio ref="audio" :src="musicUrl" controls autoplay loop ></audio>
            </div>
            <video style="display: none;"></video>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js\player.js"></script>
</body>
</html>